<div class="container">
    <div class="col-md-6">
      <h1>Edit <%= @user.f_name %>'s Details </h1>
      <br>
      <form action="/users/update/<%= @user.id %>" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="form-group">
          <label for="f_name">First Name:</label>
          <input name="f_name" value="<%= @user.f_name %>" type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="l_name">Last Name:</label>
          <input name="l_name" value="<%= @user.l_name %>" type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input name="email" value="<%= @user.email %>" type="email" class="form-control" id="email">
        </div>
        <a href="/users/<%= @user.id %>"><button type="button" class="btn btn-default">Cancel</button></a>
        <button type="submit" class="btn btn-success">Update Information</button>
      </form>
    </div>
</div>
