<div class="container">

  <h1>Users
  <a href="/users/new">
  <button type="button" class="btn btn-success">Add New User</button>
  </a>
  </h1>


  <form class="" action="index.html" method="post">

  </form>


  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.f_name %></td>
        <td><%= user.l_name %></td>
        <td><%= user.email %></td>
        <td><a href="/users/<%= user.id %>"><button type="button" class="btn btn-info">Details</button></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
